body {
  font-family: "Oxygen Mono", monospace;
}

a {
  text-decoration: none;
  color: #2e00ff;
}

.container {
  margin-left: 16em;
  margin-right: 16em;

  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-template-columns: repeat(3, 1fr); */
}

.navbar {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.navbar p {
  font-size: 27px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar .menu {
  margin-left: auto;
}

.navbar li {
  margin-left: 50px;
  margin-right: 20px;
}

.hamburger div {
  width: 25px;
  height: 1px;
  background-color: black;
  margin-top: 5px;
  margin-right: 10px;
  transform: translate(0px, -2px);
  position: relative;
}

.main .name {
  margin-top: 10px;
  font-size: 100px;
  color: #2e00ff;
  font-family: "Secular One", sans-serif;
  line-height: 81px;
  margin-bottom: 70px;
}

.main .info,
.job {
  font-size: 25px;
}

.main .info {
  color: #2e00ff;
  margin-bottom: -15px;
}

.main button {
  font-family: "Oxygen Mono", monospace;
  margin-top: 50px;
  width: 25em;
  height: 53px;
  border: 1px solid #2e00ff;
  color: #2e00ff;
  transition: 0.2s;
}

.main button:hover {
  color: white;
  background-color: #2e00ff;
  transition: 0.2s;
}

.footer {
  padding: 20px;
  background-color: #ffffcf;
  display: flex;
  align-items: center;
}

.social-links {
  margin-left: auto;
}

@media (max-width: 500px) {
  .container {
    margin-left: 1px;
    margin-right: 1px;

    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* grid-template-columns: repeat(3, 1fr); */
  }

  .navbar {
    /* background-color: red; */
    display: flex;
    align-items: center;
  }

  .navbar p {
    font-size: 20px;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }

  .navbar .menu {
    margin-left: auto;
  }

  .navbar li {
    display: none;
    /* margin-left: 50px;
    margin-right: 20px; */
  }

  .hamburger div {
    width: 25px;
    height: 1px;
    background-color: black;
    margin-top: 5px;
    margin-right: 10px;
    transform: translate(-0.5em, -2px);
    position: relative;
  }

  .main .name {
    margin-top: -5px;
    font-size: 60px;
    color: #2e00ff;
    font-family: "Secular One", sans-serif;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .main .info,
  .job {
    font-size: 20px;
  }

  .main .info {
    color: #2e00ff;
    margin-bottom: -10px;
  }

  .main button {
    font-family: "Oxygen Mono", monospace;
    margin-top: 40px;
    width: 25em;
    height: 53px;
    border: 1px solid #2e00ff;
    color: #2e00ff;
    transition: 0.2s;
  }

  .main button:hover {
    color: white;
    background-color: #2e00ff;
    transition: 0.2s;
  }

  .footer {
    background-color: #ffffcf;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    text-align: center;
  }
}
