@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#navbar {
  background-color: #be3144;
  border-bottom: 2px solid rgb(54, 54, 54);
  color: white;
  font-weight: 400;
  font-size: 22px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  padding: 25px;
}

#welcome-section {
  height: 100vh;
  background-color: #313235;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#welcome-section h1 {
  font-size: 60px;
  color: white;
  font-weight: 500;
  margin-bottom: -8px;
}

#welcome-section p {
  font-size: 30px;
  color: #be3144;
  font-style: italic;
  font-weight: 200;
}

#projects {
  height: 100%;
  padding: 80px 30px;
  background-color: #45567d;
}

#projects h2 {
  display: block;
  text-align: center;
  font-size: 35px;
  color: white;
  margin-bottom: 40px;
}

.under-line {
  border-bottom: 2px solid white;
  margin: 0 auto;
  max-width: 600px;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
  justify-content: center;
  gap: 30px;
}

#projects img {
  display: block;
  width: 100%;
}

.project-tile {
  background-color: rgb(202, 196, 196);
}

.project-tile .link-text {
  display: block;
  background-color: #303841;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 815px) {
  #navbar {
    font-weight: 500;
    font-size: 18px;
  }

  #welcome-section h1 {
    font-size: 45px;
    font-weight: 400;
  }

  #welcome-section p {
    font-size: 25px;
    font-weight: 200;
  }
}

@media screen and (max-width: 400px) {
  #navbar {
    font-weight: 400;
    font-size: 4vw;
  }

  #welcome-section h1 {
    font-size: 8vw;
    font-weight: 400;
    margin-bottom: 5px;
  }

  #welcome-section p {
    font-size: 6vw;
    font-weight: 200;
  }

  #projects {
    padding: 40px 30px;
  }

  #projects h2 {
    font-size: 10vw;
    margin-bottom: 30px;
  }
}
