.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 80px;  */
    padding: 20px;
    width: 90%;
}

.nav .left {
    font-size: 30px;
}

.nav .right {
    font-size: 20px;
}

.nav .right ul {
    display: flex;
}

.nav .right ul li {
    list-style-type: none;
    margin: 0 10px;
    border: 5px solid;
    padding: 2px;
    cursor: pointer;
    width: 120px;
    text-align: center;
}


.nav .right ul li:hover {
    color: rgb(159, 155, 155);
}


.hamburger {
    position: absolute;
    display: none;
}

.deco {
    text-decoration: none;
    color: black;
}

.deco:hover {
    color: rgb(159, 155, 155);
}

@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        align-items: self-start;
        flex-direction: column;
    }

    .right {
        display: none;
    }

    .hamburger {
        position: absolute;
        display: block;
        top: 30px;
        right: 50px;
        transition: 0.3s;
    }

    .hamburger:hover {
        scale: 1.5;
    }
}